img{
	height:50px;
	width:50px;
	display:block;
	/*margin-left:auto;*/
	/*margin-right:auto;*/
	margin: 0 auto;
}

span{
	text-align:center;
}

body{
	text-align:center;
	color:#FFF;
}

.ui-overlay-c{
	color:#FFF;

.collapsible{
	color:#ed1c24;
	text-align:center;
}

